nav {
    border-bottom: 2px dashed black;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 79%;
    margin: 0px 120px 0px 135px;
    padding: 19px 95px;
 h1 {
     margin-right: 34%;
 }
 a {
     align-self: ;
     text-decoration: none;
     text-decoration-color: black;
     font-size: 18px;
     margin: 0px 15px;

 }

}